<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KitCamp</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <div>KitCamp</div>
            </a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/campgrounds">OURWORK</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->

    <header class="masthead">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="./assets/img/header-bg-vd.mp4" type="video/mp4">
        </video>
        <div class="container h-100 pt-3">
            <div class="masthead-subheading">Welcome To KitCamp!</div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/campgrounds">Our work</a>
        </div>
    </header>

    <!-- <header class="masthead">

     
        <div class="container">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="./assets/img/header-bg-vd.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container">
            <div class="masthead-subheading">Welcome To KitCamp!</div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Our work</a>
        </div>


    </header> -->
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i
                            class="fas fa-plus-square fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Advertising</h4>
                    <p class="text-muted">Advertise your location</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i
                            class="fas fa-search fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Searching</h4>
                    <p class="text-muted">Look for good new campgrounds for your family this holiday</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i
                            class="fas fa-share fa-stack-1x fa-inverse"></i></span>
                    <h4 class="my-3">Sharing</h4>
                    <p class="text-muted">Share your experience to your friend</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Feelfree to contract me </h3>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="" />
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/2.JPG" alt="" />
                        <h4>Kitravee Siwatkittisuk</h4>
                        <p class="text-muted">Full-Stack Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/kitravee"><i
                                class="fab fa-github"></i></a><a class="btn btn-dark btn-social mx-2"
                            href="https://kitfolio.netlify.app/"><i class="fab fa-facebook-f"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="linkedin.com/in/kitravee"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="" />
                        <h4>Diana Petersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted"></p>
                </div>
            </div> -->
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer py-4" id="contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © KITCAMP 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">

                </div>
                <div class="col-lg-4 text-lg-right"><a
                        href="https://github.com/kitravee/kitcamp/blob/master/LICENSE.md">Terms of
                        Use</a></div>
            </div>
        </div>
    </footer>

    <%- include("./partials/footer") %>